.sidebar {
    background-color: #F5F5F5;
    padding: 20px;
    width: 15%;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    height: 77vh;
}

h3 {
    color: #045441;
    margin-bottom: 15px;
}

.apps-section {
    margin-bottom: 20px;
}

.apps {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.app-icon {
    width: 45px;
    height: 45px;
    border-radius: 8px;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #009373;
}

.app-icon2 {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #009373;
}

.lesteboard-icon {
    background-size: cover;
}

.other-icon {

    background-size: cover;
}

.add-icon {
    background-color: #E0E0E0;
    font-weight: bold;
    cursor: pointer;
}

.quick-access ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.quick-access ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    color: #045441;
}

.quick-access ul li i {
    font-size: 20px;
}

.news-and-events {
    margin-top: 20px;
}

.news-item,
.event-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.news-icon,
.event-icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}

.news-info p,
.event-info p {
    margin: 0;
    font-size: 14px;
    color: #045441;
}

.icon-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
}

.icon-item img {
    width: 50px;
    margin-right: 10px;
    border-radius: 5%;
    object-fit: cover;
}